*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	color:#fff;
	font-family: 'Bad Script', sans-serif;
}

.slider {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}
.span {
	font-size: 2rem;
	text-shadow: 0px 0px 10px #000;
}
.item {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #aeaeae;
		flex-basis: 25%; 
		transition: all 2s;
	}
.item:hover {
			flex-basis: 100%;
		}

.item-1{
	background: url(../imj/1.jpg) no-repeat center center;
	background-size: cover;
}
.item-2{
	background: url(../imj/2.jpg) no-repeat center center;
	background-size: cover;
}
.item-3{
	background: url(../imj/3.jpg) no-repeat center center;
	background-size: cover;
}
.item-4{
	background: url(../imj/4.jpg) no-repeat center center;
	background-size: cover;
}
@media (max-width: 640px){
	.slider {
		height: 100vh;
		flex-flow: column;
	}
	.item:hover {
		flex-grow: 30%;
		}
	.item{
		width: 100%;
		}
	}
